.header {
    top: 0;
    height: auto;
    background-color: var(--color-app-1st);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -1px 4px 2px var(--color-black-level2);
}

.header--pointer {
    text-decoration: none;
    color: var(--color-white-level0);
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    position: relative;
    height: var(--header__top);
}

.header__top__left {
    display: flex;
    align-items: baseline;
}


.header__top__left a:hover {
    color: var(--color-white-level1);
}

.header__top__item:hover {
    color: var(--color-white-level1);
}

.header__top__item,
.header__top__icon {
    font-size: 14px;
    color: var(--color-white-level0);
    text-decoration: none;
    padding: 0px 8px 0px 8px;
}

.header__top__item--qr{
    padding-bottom: 15px;
    cursor: pointer;
}

.header__top__icon {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin: 0 -8px;
}

.header__top__icon-connect {
    margin-right: 10px;
}

.header__top--separate {
    font-size: 16px;
    color: var(--color-app-3rd);
}

.header__top__item--no-hover:hover {
    color: var(--color-white-level0);
}

.header__qr {
    position: absolute;
    height: auto;
    width: auto;
    background-color: var(--color-white-level0);
    padding: 5px;
    top: 100%;
    left: 20px;
    border-radius: 2px;
    display: none;
    z-index: 2;
    box-shadow: 0 0 2px -1px var(--color-black-level1);
}

.header__top__right {
    display: flex;
}

.header__top__item--qr:hover .header__qr {
    display: block;
}

.header__qr__img {
    cursor: grab;
    margin-bottom: -8px;
}

.header__qr-apps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 3px;
}

.header__qr-apps img {
    height: 18px;
}

.header__top__item__qr {
    position: relative;
}

.header__top__notify {
    position: absolute;
    top: calc(100% - 6px);
    background-color: var(--color-white-level0);
    z-index: 1;
    width: 400px;
    /* left: calc(100% + 10px); */
    right: calc(100% - 90px);
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 30px) top;
    animation: headerTopNotify ease-in 0.2s;
    display: none;
    border-radius: 2px;
}

.header__top__notify::before {
    right: 5px;
    top: -28px;
    position: absolute;
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--color-white-level0) transparent;
}

.header__top__item--has-notify {
    display: inline-block;
    position: relative;
}

.header__top__item--has-notify:hover .header__top__notify {
    display: block;
}

@keyframes headerTopNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__top__notify header {
    height: 38px;
    background-color: var(--color-white-level0);
}

.header__top__notify header h3 {
    color: #777;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 38px;
    margin-left: 12px;
    user-select: none;
}


.header__top__notify__item--viewed {
    background: rgba(238, 75, 43, 0.1);
}

.header__top__notify__item {
    display: flex;
    padding: 12px;
    text-decoration: none;
    align-items: center;
}

.header__top__notify__item:hover {
    background-color: #f3f3f3;
}

.header__top__notify__item img {
    width: 50px;
    object-fit: cover;

}

.header__top__notify__item__name {
    margin-left: 10px;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    display: block;
    line-height: 14px;
    margin-bottom: 4px;
}

.header__top__notify__item__sub-name {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    font-weight: 200;
    display: block;
}

.header__top__notify__item__all {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #ececec;
}

.header__top__notify__item__all a {
    text-decoration: none;
    font-size: 13px;
    color: var(--color-black-level0);
    font-weight: 600;
    padding: 6px 150px;
}

.header__top__user {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.header__top__user img {
    border-radius: 50%;
    width: 20px;
    top: 100%;
    margin-right: 8px;
    background: var(--color-white-level0);
}

.header__top__user__name {
    font-size: 14px;
    color: var(--color-white-level0);
}

.header__top__user__navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white-level0);
    top: calc(100% + 10px);
    right: -6px;
    z-index: 2;
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 var(--color-black-level3);
    display: none;
}

.header__top__user__navbar::before {
    right: 14px;
    top: -18px;
    position: absolute;
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--color-white-level0) transparent;
}

.header__top__user__name:hover {
    color: var(--color-black-level3);
}

.header__top__user--wrap:hover .header__top__user__navbar {
    display: flex;
}

.header__top__user__navbar__item {
    color: var(--color-black-level1);
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 13px;
    border-bottom: 1px solid var(--color-white-level2);
}

.header__top__user__navbar__item:hover {
    background-color: var(--color-white-level2);
    z-index: 2;
}

/* ------------------------- */
.header__bottom {
    display: flex;
    align-items: center;
    height: var(--header__bottom);
}

.header__bottom__left {
    width: 150px;
    padding: 0 8px;
}

.header__bottom__left__logo__link {
    text-decoration: none;
    color: transparent;
}

.header__bottom__center {
    padding: 0 30px;
}

.header__bottom__search {
    background-color: var(--color-white-level0);
    height: 40px;
    border-radius: 3px;
    justify-content: space-between;
}

.header__bottom__search input:focus~.header__bottom__center__history {
    display: block;
}

.header__bottom__search input {
    padding-left: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 2px;
    overflow: hidden;
}

.header__bottom__center,
.header__bottom__search,
.header__bottom__search input {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
}

.header__bottom__search__button {
    line-height: 3;
}

.header__bottom__search__button__search {
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 34px;
    margin-right: 3px;
    padding-top: 0.4px;
    border-radius: 2px;
    border: none;
    background-color: var(--color-app-1st);
}

.header__bottom__search__button__search:hover {
    background-color: #ff6547;
}

.header__bottom__search__icon {
    color: var(--color-white-level0);
    background-color: var(--color-app-1st);
}

.header__bottom__center__history {
    position: absolute;
    background-color: var(--color-white-level0);
    width: 100%;
    top: calc(100% + 2px);
    box-shadow: 0 1px 4px 0 var(--color-black-level3);
    display: none;
}

.header__bottom__center__history h3 {
    color: var(--color-black-level2);
    margin: 8px 15px;
    font-size: 13px;
    font-weight: 500;
}

.header__bottom__center__history__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black-level0);
    height: 38px;
    padding: 0 15px;
    font-size: 13px;
}

.header__bottom__center__history__item:hover {
    background-color: var(--color-white-level1);
}

.header__bottom__right {
    width: 130px;
    display: flex;
    justify-content: center;
}

.header__bottom__right__icon--wrap {
    position: relative;
}


.header__bottom__right__icon {
    color: var(--color-white-level0);
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.header__bottom__right__cart {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: calc(100% + 10px);
    right: calc(100% - 42px);
    width: 460px;
    /* height: 280px; */
    border-radius: 2px;
    background-color: var(--color-white-level0);
    box-shadow: 0 1px 4px 0 var(--color-black-level3);
    transform-origin: calc(100% - 30px) top;
    animation: headerTopNotify ease-in 0.2s;
    display: none;
}

.header__bottom__right__body-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* display: none; */

}

.header__bottom__right__icon--wrap:hover .header__bottom__right__cart {
    display: flex;
    /* align-items: flex-start; */
}

.header__bottom__right--notice {
    position: absolute;
    color: var(--color-app-1st);
    background-color: var(--color-white-level0);
    padding: 0px 6px;
    border-radius: 50%;
    top: -3px;
    right: -10px;
    border: 1px solid var(--color-white-level1);
    cursor: pointer;
}

.header__bottom__right--no-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.header__bottom__right__cart::before {
    content: "";
    position: absolute;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--color-white-level0) transparent;
    top: -28px;
    right: 1px;
    cursor: pointer;
}

.header__bottom__right--no-cart img {
    width: 30%;
}

.header__bottom__right--no-cart h3 {
    color: var(--color-black-level1);
    font-size: 14px;
    font-weight: 500;
}


.header__bottom__right h4 {
    color: var(--color-black-level2);
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 12px 12px;
}


.header__bottom__right__item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding: 8px 0px 8px 12px;
    cursor: pointer;
}

.header__bottom__right__item:hover{
    background-color: var(--color-white-level2);
}

.header__bottom__right__item img {
    width: 50px;
    object-fit: cover;
    border: 0.5px solid var(--color-black-level3);
    
}

.header__bottom__right__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header__bottom__right__info__top {
    display: flex;
    width: 385px;
}

.header__bottom__right__info__top h5 {
    font-size: 13px;
    color: var(--color-black-level0);
    font-weight: 500;
}

.header__bottom__right__head__price {
    margin-left: calc(100% - 231px);
    color: var(--color-app-1st);

}

.header__bottom__right__head__multiply{
    margin: 0 3px;
    font-size: 10px;
}

.header__bottom__right__head__quantity{
    color: var(--color-black-level1);
}

.header__bottom__right__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.header__bottom__right__info__bottom {
    display: flex;
    justify-content: space-between;
}

.header__bottom__right__head__description{
    color: var(--color-black-level1);
}

.header__bottom__right__head__remove {
    margin-right: 12px;
    color: var(--color-black-level0);
    font-weight: 500;
}


.header__bottom__right__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;  
}

.header__bottom__right__btn button{
    margin-bottom:8px;
    width: 96%;
}