.content {
    top: 130px;
    width: 100%;
    position: relative;
    display: flex;
}

.content__container-left{
    width: 20%;
    min-width:190px;
}

.content__container-left__nav{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-level0);
    padding: 20px;
    margin: 20px 20px 0 0px;
    border-radius: 2px;
    min-width: 110px;
}

.content__container-left__nav h3{
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.icon__list{
   margin: 0 5px 0 5px;
}

 .btn.btn--primary{
    background-color:var(--color-white-level0);
    color: var(--color-black-level1);
} 


.content__container-left__nav-item{
    position: relative;
    font-size: 13px;
    text-decoration: none;
    color: var(--color-black-level0);   
    padding: 3px 0;
    line-height: 2;
    transition: right linear 0.2s;
}

.content__container-left__nav-item--border-bottom{
    border-bottom: 1px solid var(--color-white-level1);
    width: 100%;
}

.content__container-left__nav-item:hover{
    color: var(--color-app-1st);
    right: -4px;
}


.content__container-right{
    width: 100%;
    height: 100%;
}

.content__container-right__filter{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: var(--color-white-level1);
    width: 100%;
    border-radius: 2px;
    max-width: 100%;
}

.content__container-right__filter__heading{
    display: flex;
    align-items: center;
    color: var(--color-black-level1);
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    width: 85px;
}

/* .content__container-right__filter__btn{
    font-size: 13px;
    margin: 0 8px;
    background-color: var(--color-white-level0);
    padding:9px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color-black-level1);
}    */

.content__container-right__filter__btn{
    font-size: 13px;
    margin: 0 8px;
}

/* .content__container-right__filter__btn:hover{
    background-color: var(--color-white-level3);
} */

.content__container-right__filter__price{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content__container-right__filter__btn__price{
    width: 150px;
    display: flex;
    justify-content: flex-start;
}

.content__container-right__filter__btn__price span{
    margin-left: 12px;
}

.content__container-right__filter__btn__icon{
    position:absolute;
    font-size: 16px;
    margin-right: 16px;
    color: var(--color-black-level1);
}

.content__container-right__filter__price__sub{
    top: 100%;
    left: 0;
    margin-left: 8px;
    width: 90%;
    height: 80px;
    background: var(--color-white-level0);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 3;
    display: none;
    margin-top: 0.5px;
    border-radius: 2px;
}

.content__container-right__filter__price:hover .content__container-right__filter__price__sub {
    display:flex ;
}

.content__container-right__filter__price__sub span{
    color: var(--color-black-level1);
    margin-left: 12px;
    font-size: 13px;
    cursor: pointer;
}

.content__container-right__filter__price__sub span:hover{
    color: var(--color-app-1st);
}

.content__filter__quantity{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content__filter__quantity span{
    font-size: 14px;
}

.content__filter__quantity--pick{
    color: var(--color-app-1st);
}


.content__filter__quantity button{
    padding: 8px 15px;
    border-radius: 2px;
    background-color: var(--color-white-level0);
    border: 1.2px solid rgba(0, 0, 0, 0.18);
    
}   

.content__filter__quantity__button__left{
    margin-left: 8px;
}

.content__filter__quantity__icon-left{
    color: var(--color-black-level3);
    
}

.content__filter__quantity__button__right{
    cursor: pointer;
    margin-left: -3.6px;
}

.content__filter__quantity__button__right:hover{
    background-color: var(--color-white-level3);
}


/* List of products -------------------------------------------------------------------- START */
.content__product-list {
    background-color: var(--color-white-level1);
    padding: 10px 0;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-list__product {
    position: relative;
    background-color: white;
    width: calc(100%/5 - 10px);
    margin-bottom: 10px;
    border: solid 5px var(--color-app-1st);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product-list__product:hover {
    box-shadow: 0 1px 4px 0 var(--color-black-level1);
}


.product-list__product[favorite="1"] .product-list__product__favorite {
    display: block;
}
.product-list__product__favorite {
    position: absolute; top: 5px; left: -10px;
    display: none;

    background-color: var(--color-app-1st);
    padding: 2px;
    color: white;
    font-size: 0.8rem;
}
.product-list__product__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--color-app-1st);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product-list__product__discount {
    z-index: 2;
    position: absolute; top: -5px; right: -5px; /* 5px = border's width */
    display: none;

    background-color: var(--color-app-2nd);
    width: 40px;
    padding: 5px;
    text-align: center;
}
.product-list__product__discount p {
    color: var(--color-app-1st);
}
.product-list__product__discount span {
    color: white;
}
.product-list__product[discount="1"] .product-list__product__discount {
    display: block;
}
.product-list__product__discount::after {
    --c: var(--color-app-2nd);
    --w: 20px; /* 20px = 1/2 parent's width */
    --h: 4px; /* 4px = rectangle's height */

    content: "";
    position: absolute; left: 0; bottom: calc(0px - var(--h));
    border-width: 0 var(--w) var(--h) var(--w);
    border-style: solid;
    border-color: transparent var(--c) transparent var(--c); 
}

.product-list__product__below-img {
    padding: 5px;
}
.product-list__product__below-img div {
    display: flex;
    justify-content: space-between;
}

.product-list__product__name,
.product-list__product p[role="product-list__product__name"] {
    font-size: 1.2rem;
}

.product-list__product__price {
    font-size: 1.1rem;
    color: var(--color-app-1st);
}
.product-list__product__price.new-price-better::before {
    content: attr(old-price);
    margin-right: 3px;
    text-decoration: line-through;
    color: var(--color-black-level2);
}

.product-list__product__freeship {
    display: none;
}
.product-list__product[freeShip="1"] .product-list__product__freeship {
    display: block;
}

.product-list__product__like {
    cursor: pointer;
    line-height: 1.5;
}
.product-list__product__like:hover {
    opacity: 0.8;
    color: var(---color-app-1st);
}

.product-list__product__sold[rating]::before { margin-right: 5px; letter-spacing: 2px; }
.product-list__product__sold[rating="1"]::before { content: "⭐️"; }
.product-list__product__sold[rating="2"]::before { content: "⭐️⭐️"; }
.product-list__product__sold[rating="3"]::before { content: "⭐️⭐️⭐️"; }
.product-list__product__sold[rating="4"]::before { content: "⭐️⭐️⭐️⭐️"; }
.product-list__product__sold[rating="5"]::before { content: "⭐️⭐️⭐️⭐️⭐️"; }

.product-list__product__location {
    color: var(--color-black-level2);
    font-weight: 400;
    text-align: right;
}
/* List of products -------------------------------------------------------------------- END */


.content__pagination{
    display: flex;
    justify-content: center;
    
}

.content__pagination__item{
    font-size: 17px;
    padding: 2px 15px;
    margin: 30px 10px;
    border: none;
    color: var(--color-black-level1);
    background-color: var(--color-white-level3);
    cursor: pointer;
    border-radius: 2px;
}

.content__pagination__item--select{
    background-color: var(--color-app-1st);
    color: var(--color-white-level0);
}

.content__pagination__item:hover{
    color: var(--color-app-1st);
}

.content__pagination__item--select:hover{
    color: var(--color-white-level0);
}

.content__pagination__icon:hover{
    color: var(--color-black-level1);
}

.content__product-list__link{
    text-decoration: none;
    color: var(--color-black-level1);
}

#content__container-right__filter--selected1:checked + label,
#content__container-right__filter--selected2:checked + label,
#content__container-right__filter--selected3:checked + label{
    background-color: var(--color-app-1st);
    color: var(--color-white-level0);
}

.content__container-right__filter__btn:hover{
    opacity: .8;
}

#content__pagination__item--select1:checked + label,
#content__pagination__item--select2:checked + label,
#content__pagination__item--select3:checked + label,
#content__pagination__item--select4:checked + label,
#content__pagination__item--select5:checked + label{
    background-color: var(--color-app-1st);
    color: var(--color-white-level0);
}



.btn__card{
    background-color: var(--color-app-1st) !important;
    color: var(--color-white-level0) !important;
}