:root{
    --color-app-1st:#EE4D2D;   
    --color-app-2nd:#f29d8c;   
    --color-black-level0:#000;
    --color-white-level0:#fff;
    --color-white-level1:#e0dede;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height:1.6rem ;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif; 
}

img{
    max-width: 100%;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

