
.header__bottom__right__head__info{
    
}

.header__bottom__right__cart {
    width: 100%;
    right: 0;
}

.header__bottom__search {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    border: 1px solid var(--color-black-level3);
    border-radius: 0;
    animation: sideIn linear 0.2s;
    display: none;
}

#search__mobile-checkbox:checked ~ .header__bottom__search{
    display: flex;
}

.header__search__mobile{
    display: block;
}

.header__search__mobile__icon::before {
    content: "\f002";
}
#search__mobile-checkbox:checked ~ label>i::before {
    content: "\f00d";
    font-weight: 400 !important;
}

.header__search__mobile__icon
{
    font-size: 25px;
    color: var(--color-white-level0);
    top: 0;
    left: 0;
    cursor: pointer;
}

.header__bottom__center{
    flex-direction: row-reverse;
}

.header__bottom__center__history{
    top: calc(100% + 1px);
    display: block;
}

.product-list__product{
    width: calc(100% / 2 - 10px);
}

.content{
    
}

.content--none, .content__mini--none{
    display: none;
}

.content__pagination__item{
    padding: 2px 12px;
}

.footer{
    align-items: center;
    flex-direction: column;
}
