.header__bottom__search {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    border: 1px solid var(--color-black-level3);
    border-radius: 0;
    animation: sideIn linear 0.2s;
    display: none;
}

#search__mobile-checkbox:checked ~ .header__bottom__search{
    display: flex;
}

.header__search__mobile{
    display: block;
}

.header__search__mobile__icon::before {
    content: "\f002";
}
#search__mobile-checkbox:checked ~ label>i {
    display: none;
}
#search__mobile-checkbox:checked ~ label>.header__search__mobile__icon-close {
    display: block !important;
}

.header__search__mobile__icon
{
    font-size: 25px;
    color: var(--color-white-level0);
    top: 0;
    left: 0;
    cursor: pointer;
    font-weight: lighter;
}

.header__bottom__center{
    flex-direction: row-reverse;
}

.header__bottom__center__history{
    top: calc(100% + 1px);
    display: block;
}

.header__bottom__right__cart {
    width: 100%;
    right: 0;
}

.product-list__product{
    width: calc(100% / 2 - 10px);
}

.content--none, .content__mini--none{
    display: none;
}

.content__pagination__item{
    padding: 2px 12px;
}

.footer{
    align-items: center;
    flex-direction: column;
}

.modal__body{
    width: 100%;
    min-width: 0;
}

.auth__form{
    /* margin: 0; */
    margin: 30px 0 0 20px;
}

.auth__form__help{
    justify-content: center;
}

.auth__form__controls{
    justify-content: space-around;
    margin-top: 20px;
}

.auth__form__socials__icon{
    margin: 0 4px 0 0;
}

.btn--with-icon{
    font-size: 0;
    min-width: 0px !important;
    padding: 0;
    width: 200px;
}

.btn--with-icon--google{
    margin-left: 10px;
}

.btn--with-icon--fb{
    margin-right: 10px;
}

.btn--with-icon--google::after{
    content: "Google";
    position: relative;
    font-size: 12px;
}


.btn--with-icon--fb::after{
    content: "Facebook";
    position: relative;
    font-size: 12px;
}


