.footer{
    align-items: center;
    flex-direction: column;
}

.content__container-right__filter__price__sub{
    left: calc(100% / 4 - 80px);
}

.product-list__product{
    width: calc(100% / 2 - 20px);
}

.content--none, .content__mini--none{
    display: none;
}

.content__pagination__item{
    padding: 2px 12px;
}

