.header {
    box-shadow: none;
}

.header__bottom {
    justify-content: space-between;
}

.header__bottom__left {
    width: 125px;
    margin: 0 18px 0 18px;
}

.header__bottom__center{
    padding: 0;
}

.header__bottom__right{
    width: 75px;
}

.header__bottom__right__cart {
    position: fixed;
    width: 100%;
    right: 0;
    top: 90px;
    z-index: 1000000;
}

.header__bottom__right__btn {
    border-top: 1px solid var(--color-black-level3);
    margin-top: 20px;
    padding-top: 0;
}

.header__bottom__right__cart::before {
    border-width: 18px 100px;
    border-color: transparent;
    top: -35px;
    right: 43px;
}

.content {
    width: 100%;
}

.content__container-right__filter__btn__icon {
    right: 0px;
    position: absolute;
}

.product-list__product {
    width: calc(100% / 3 - 10px);
    margin: 10px 10px -2px 0px;

}

.content__product-list {
    padding: 20px 0 25px 10px;
}

.content__container-right__filter {
    position: fixed;
    top: 90px;
    z-index: 10;
    height: 40px;
    padding: 30px 10px;
    margin: 0;
    box-shadow: 0 1px 2px 0 var(--color-black-level2);
}


.content__container-right__filter__btn, .btn.btn--primary {
    color: var(--color-black-level1);
    width: calc(100% / 4 - 15px);
    min-width: 0;
    margin: 0 5px;
    height: 40px;
}


.btn.btn--primary {
    color: var(--color-white-level0);
    margin-left: 0;
}


.content__container-right__filter__price {
    justify-content: center;
    width: calc(100% / 4 + 15px);
    border-radius: 2px;
    margin-left: 5px;
    background-color: var(--color-white-level0);
}

.content__container-right__filter__btn__price {
    margin: 0;
    width: 100%;
}

.content__container-right__filter__price__sub {
    top: 100%;
    width: 100%;
    margin: .5px 0 0 0;
    border: 1px solid var(--color-black-level3);
    border-top: none;
}

.content__container-right__filter__price:hover .content__container-right__filter__price__sub {
    background-color: var(--color-white-level0);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer__container__nav {
    width: calc(100%/2 - 10px);
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.footer__app__link {
    width: 55%;
}

.footer__heading {
    font-size: 17px;
    text-align: center;
}

.footer a {
    font-size: 15px;
}

.footer__app {
    margin-top: 10px;
}

.footer__app__qr img {
    width: 100px;
}

.content--none {
    display: none;
}